*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    color: blue;
    background: white;
    position: sticky;
    top: 0;
}
.header ul{
display: flex;
list-style: none;
color: black;
gap: 20px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}
.hero{
    height: 80vh;
    background-image: url("lady.png") no-repeat center/cover;
    display:flex;
    align-items: center;
    justify-content: center;
}
.hero-content{
    text-align: center;
    color: white;
}


